.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.wrapper {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  color: #2c3e50;
}

.link {
  &:hover {
    color: orange;
  }
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
